.background {
    width: 100%;
    margin: 0% auto;
    background-image: url("Image/squares.svg");
    background-repeat: no-repeat;
    background-image: center;
    border: 1px solid  black;
    background-size: cover;
    background-position: center;
    font-size: 3em;
    height: 300px;
}

.navigationBar {
background-color: black;
border-color: solid black;
color: white;
}
.talkAbout {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.columnTalk {
        padding: 10px;
        height: 300px;
        align-content: center;
}

.talk {
justify-content: left;
}

.video {
    justify-content: center;
    }

.WhatDoYouWantToBe {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: black;
    border-color: solid black;
    color: white;
}
.SuccessfulOutcome {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.Partners {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 2% 5%;
}
.Partners img {
    width: 15%;
    margin: 0 2%;
    height: 120px;
}
.imageOutcomes {
    border-radius: 50%;
}



@font-face {
    font-family: 'Bison';
    src: 
    local('Bison-Bold'),
    url('../fonts/Bison-Bold.ttf')
    format('truetype');
  
  }
  